<h4>
  Mes Produits
</h4>
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-hover">
        <thead>
           <tr>
                <th>
                  Ref
                </th>
                <th>
                  Quantité
                </th>
                <th>
                  Prix Unitaire
                </th>

           </tr>
      </thead>
        <tbody>
    <tr *ngFor="let product of produits">
      <td>{{product.ref}}</td>
      <td>{{product.quantite}}</td>
      <td>{{product.prixUnitaire}}</td>
    </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-5">
<div class="card">
  <div class="card-header bg-info text-white">
header
  </div>
  <div class="card-body">
<form action="" [formGroup]="produitForm">
    <div class="form-group">
<label for="">Ref:</label>
<input type="text" class="form-control" formControlName= "ref">
<div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid && produitForm.controls['ref'].touched">
Ref obligatoire
</div>

    </div>
    <div class="form-group">
<label for="">Quantité</label>
<input type="text" class="form-control" formControlName="quantité">

    </div>
    <div class="form-group">
<label for="">Prix Unitaire</label>
<input type="text" class="form-control" formControlName="prixUnitaire">

    </div>
  <button class="btn btn-success">Ajouter</button>

</form>
  </div>
  <div class="card-footer">
footer
  </div>
</div>

    </div>
  </div>
</div>
